<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#3E3F43">
    <meta name="msapplication-navbutton-color" content="#3E3F43">
    <meta name="apple-mobile-web-app-status-bar-style" content="#3E3F43">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,700,700i&amp;subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('build/fintobit/css/style.css') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/fintobit/img/16-16.png') }}">
</head>
<body>
<script href="{{ asset('build/fintobit/js/scripts.min.js') }}"></script>
<div class="content-wrapper">
    <div class="content-main">
        <div class="content__main">
            <div class="header header--desktop">
                <div class="header__block">
                    <a class="logo-header" href="{{ path('control.index') }}">
                        <div class="main_logo-s"></div>
                    </a>
                    {% if app.user %}
                        <div class="admins-nav">
                            <a href="{{ path('control.bots.list') }}" class="admins-nav__link">Bots</a>
                            <a href="{{ path('control.users.list') }}" class="admins-nav__link">Users</a>
                        </div>
                    {% endif %}
                </div>
                {% if app.user %}
                    <div class="header-settings">
                        <div class="header-logo">
                            <div href="#" class="header__user">
                                <div class="header__user-img"></div>
                            </div>
                        </div>
                        <span href="#" class="header__mail">{{ app.user.username }}</span>
                        <a href="/change-password.html" class="header__settings">
                            <div class="settings-img"></div>
                        </a>
                    </div>
                {% endif %}
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>