<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,700,700i&amp;subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
</head>
<body>

<script src="{{ asset('build/js/scripts.min.js') }}"></script>
<div class="content-wrapper">
    <div class="content">
        <div class="header">
            <div class="header__block header__block--left">
                <a href="#" class="button-menu js-toggle-sidebar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                        <g fill="#DEDEDE" fill-rule="evenodd">
                            <path d="M8 10h14v1H8zM8 15h14v1H8zM8 20h14v1H8z"/>
                        </g>
                    </svg>
                </a>
                <a href="{{ path('homepage') }}" class="logo logo--header">
                    <span class="logo__text logo__text--bold">Crip</span><span
                            class="logo__text logo__text--light">tim</span>
                </a>
            </div>

            <div class="header__block header__block--right">
                <a href="{{ path('cashier') }}" class="header__wallet">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                        <g fill="#DEDEDE" fill-rule="nonzero">
                            <path d="M23 13v-2c.143-1.796-1.036-3-3-3H9c-1.821 0-3 1.204-3 3v9c0 1.796 1.179 3 3 3h11c1.964 0 3.143-1.204 3-3v-2c.647-.357 1-.94 1-2v-1c0-.952-.353-1.533-1-2zm0 3c0 .7-.323 1-1 1h-5c-.677 0-1-.3-1-1v-1c0-.7.323-1 1-1h5c.677 0 1 .3 1 1v1zm-3 6H9c-1.25 0-2-.778-2-2v-9c0-1.222.75-2 2-2h11c1.25 0 2 .778 2 2v2h-5c-1.321-.222-2.179.667-2 2v1c-.179 1.444.679 2.333 2 2h5v2c0 1.222-.75 2-2 2z"/>
                            <path d="M17 15v1c0-.381 0-.286 0 0 .2-.095.4 0 1 0-.4 0-.3-.095 0 0-.1-.19 0-.381 0 0 0-.667-.1-.762 0-1-.4-.048-.7-.048-1 0z"/>
                        </g>
                    </svg>
                    <span>Касса</span>
                </a>
                <a href="#" class="header__user js-show-user-profile">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                        <g fill="#DEDEDE" fill-rule="evenodd">
                            <path fill-rule="nonzero"
                                  d="M18.774 15.521a5.32 5.32 0 0 0 1.249-3.458C20.023 9.25 17.962 7 15.443 7c-2.52 0-4.58 2.25-4.58 5.063 0 1.352.484 2.565 1.257 3.47C9.799 15.966 8 17.997 8 20.39v2.047c0 .338.229.563.573.563.343 0 .572-.225.572-.563V20.39c0-2.138 1.718-3.826 3.893-3.826h.347c.622.348 1.315.563 2.058.563.743 0 1.436-.215 2.059-.563h.345c2.176 0 3.893 1.688 3.893 3.826v2.047c0 .338.23.563.573.563.343 0 .573-.225.687-.563V20.39c0-2.428-1.855-4.476-4.226-4.869zM12 12c0-2.171 1.517-4 3.5-4S19 9.829 19 12c0 2.171-1.517 4-3.5 4S12 14.171 12 12z"/>
                            <rect width="15" height="1" x="8" y="22" rx=".5"/>
                        </g>
                    </svg>
                </a>
                <div class="user-menu">
                    <div class="user-menu__wrapper">
                        <a href="#" class="user-menu__close js-close-user-profile">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                <path fill="none" fill-rule="evenodd" stroke="#FFF"
                                      d="M15.067 14.767L9.366 8.66l-.732.682 5.749 6.159-5.749 6.159.732.682 5.7-6.108 5.702 6.108.73-.682-5.747-6.159 5.748-6.159-.731-.682-5.701 6.108z"/>
                            </svg>
                        </a>
                        <div class="user-menu__row user-menu__row--mail">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                <g fill="#DEDEDE" fill-rule="evenodd">
                                    <path fill-rule="nonzero"
                                          d="M18.774 15.521a5.32 5.32 0 0 0 1.249-3.458C20.023 9.25 17.962 7 15.443 7c-2.52 0-4.58 2.25-4.58 5.063 0 1.352.484 2.565 1.257 3.47C9.799 15.966 8 17.997 8 20.39v2.047c0 .338.229.563.573.563.343 0 .572-.225.572-.563V20.39c0-2.138 1.718-3.826 3.893-3.826h.347c.622.348 1.315.563 2.058.563.743 0 1.436-.215 2.059-.563h.345c2.176 0 3.893 1.688 3.893 3.826v2.047c0 .338.23.563.573.563.343 0 .573-.225.687-.563V20.39c0-2.428-1.855-4.476-4.226-4.869zM12 12c0-2.171 1.517-4 3.5-4S19 9.829 19 12c0 2.171-1.517 4-3.5 4S12 14.171 12 12z"/>
                                    <rect width="15" height="1" x="8" y="22" rx=".5"/>
                                </g>
                            </svg>
                            <span class="user-menu__mail">workmail@gmail.com</span>
                        </div>
                        <div class="user-menu__info">
                            <div class="user-menu__row">
                                <span class="user-menu__text">Тип аккаунта:</span>
                                <span class="user-menu__text user-menu__text--status">Стандарт</span>
                            </div>
                            <div class="user-menu__row">
                                <span class="user-menu__text">Ваш баланс:</span>
                                <span class="user-menu__text">5 100 ₽</span>
                            </div>
                            <div class="user-menu__row user-menu__row--buttons">
                                <a href="#" class="button button--main">Редактировать</a>
                                <a href="#" class="button button--action">Стать PRO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-mobile">
                <div class="sidebar-mobile__wrapper">
                    <div class="sidebar-nav">
                        <div class="sidebar-logo">
                            <span class="sidebar-logo__img"></span>
                            <a href="{{ path('homepage') }}" class="logo">
                                <span class="logo__text logo__text--bold">Crip</span><span
                                        class="logo__text logo__text--light">tim</span>
                            </a>
                        </div>
                        <ul class="main-navigation__list">
                            <li class="main-navigation__item main-navigation__item--active">
                                <a href="#" class="main-navigation__link">
                                    <span class="main-navigation__icon main-navigation__icon--users">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                             viewBox="0 0 30 30">
                                            <g fill="#DEDEDE" fill-rule="nonzero">
                                                <path d="M25.343 16.55a1.845 1.845 0 0 0-2.54.153l-1.808 1.941a1.85 1.85 0 0 0-1.602-1.291c.32-.224.625-.478.909-.76a6.696 6.696 0 0 0 2.006-4.784C22.308 8.079 19.243 5 15.5 5c-3.733 0-6.768 3.07-6.768 6.809 0 1.688.625 3.29 1.74 4.525a4.28 4.28 0 0 0-.847.565 1.844 1.844 0 0 0-1.508-.784H5.615A.615.615 0 0 0 5 16.73v8.655c0 .34.275.615.615.615h2.502c.806 0 1.492-.52 1.743-1.24.034.006.068.01.103.01h9.27a4.329 4.329 0 0 0 3.446-1.726l2.952-3.976a1.844 1.844 0 0 0-.288-2.517zm-16.61 7.604c0 .34-.277.615-.616.615H6.23v-7.423h1.887c.34 0 .615.276.615.615v6.193zm1.23-12.345c0-3.076 2.484-5.578 5.537-5.578a5.584 5.584 0 0 1 5.578 5.578c0 2.936-2.316 5.346-5.23 5.526a.614.614 0 0 1-.29-.143l-.29-.254a4.307 4.307 0 0 0-3.478-1.023 5.517 5.517 0 0 1-1.827-4.106zm14.682 6.523l-2.952 3.977a3.09 3.09 0 0 1-2.46 1.23h-9.27v-5.3l.429-.377a3.083 3.083 0 0 1 4.064 0c.209.184.776.714 1.044.714h3.732a.616.616 0 0 1 0 1.23H14.82a.615.615 0 0 0 0 1.231h4.826c.51 0 1.002-.214 1.35-.588l2.709-2.907a.614.614 0 0 1 .94.79z"/>
                                                <path d="M15.5 11.193A.616.616 0 0 1 15.29 10c.315-.115.683.04 1.008.428a.615.615 0 0 0 .943-.791c-.333-.396-.72-.669-1.126-.805v-.715a.615.615 0 0 0-1.23 0v.721l-.017.006a1.852 1.852 0 0 0-1.214 1.734c0 1.018.828 1.846 1.846 1.846a.616.616 0 0 1 .24 1.182c-.276.117-.606.017-.905-.273a.615.615 0 0 0-.857.884c.278.269.587.459.907.566v.717a.615.615 0 0 0 1.23 0v-.72l.104-.04a1.843 1.843 0 0 0 1.127-1.7 1.848 1.848 0 0 0-1.846-1.847z"/>
                                            </g>
                                        </svg>
                                    </span>
                                    <span class="main-navigation__title">Моя доходность</span>
                                </a>
                            </li>
                            <li class="main-navigation__item">
                                <a href="{{ path('monitoring') }}" class="main-navigation__link">
                            <span class="main-navigation__icon main-navigation__icon--users">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                    <g fill="none" fill-rule="evenodd" stroke="#DEDEDE">
                                        <rect width="6" height="6" x="6.5" y="17.5" rx="1"/>
                                        <rect width="6" height="16" x="12.5" y="7.5" rx="1"/>
                                        <rect width="6" height="10" x="18.5" y="13.5" rx="1"/>
                                    </g>
                                </svg>
                            </span>
                                    <span class="main-navigation__title">Мониторинг</span>
                                </a>
                            </li>
                            <li class="main-navigation__item">
                                <a href="{{ path('cashier') }}" class="main-navigation__link">
                            <span class="main-navigation__icon main-navigation__icon--users">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                    <g fill="#DEDEDE" fill-rule="nonzero">
                                        <path d="M23 13v-2c.143-1.796-1.036-3-3-3H9c-1.821 0-3 1.204-3 3v9c0 1.796 1.179 3 3 3h11c1.964 0 3.143-1.204 3-3v-2c.647-.357 1-.94 1-2v-1c0-.952-.353-1.533-1-2zm0 3c0 .7-.323 1-1 1h-5c-.677 0-1-.3-1-1v-1c0-.7.323-1 1-1h5c.677 0 1 .3 1 1v1zm-3 6H9c-1.25 0-2-.778-2-2v-9c0-1.222.75-2 2-2h11c1.25 0 2 .778 2 2v2h-5c-1.321-.222-2.179.667-2 2v1c-.179 1.444.679 2.333 2 2h5v2c0 1.222-.75 2-2 2z"/>
                                        <path d="M17 15v1c0-.381 0-.286 0 0 .2-.095.4 0 1 0-.4 0-.3-.095 0 0-.1-.19 0-.381 0 0 0-.667-.1-.762 0-1-.4-.048-.7-.048-1 0z"/>
                                    </g>
                                </svg>
                            </span>
                                    <span class="main-navigation__title">Касса</span>
                                </a>
                            </li>
                            <li class="main-navigation__item">
                                <a href="{{ path('about') }}" class="main-navigation__link">
                            <span class="main-navigation__icon main-navigation__icon--users">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     width="30" height="30" viewBox="0 0 30 30">
                                    <defs>
                                        <path id="a"
                                              d="M20.199 5.206l1.058 1.058a2 2 0 0 1 .25.305l1.089 1.633A1.156 1.156 0 0 1 21.634 10H21a2 2 0 0 1-2-2V5.702a.702.702 0 0 1 1.199-.496z"/>
                                        <path id="b" d="M11 13h8v1h-8z"/>
                                        <path id="c" d="M11 9h5v1h-5z"/>
                                        <path id="d" d="M11 16h8v1h-8z"/>
                                        <path id="e" d="M11 19h8v1h-8z"/>
                                    </defs>
                                    <g fill="none" fill-rule="evenodd">
                                        <path stroke="#DEDEDE"
                                              d="M22.5 7.997L20.235 5.9a1.5 1.5 0 0 0-1.019-.4H9A1.5 1.5 0 0 0 7.5 7v16A1.5 1.5 0 0 0 9 24.5h12a1.5 1.5 0 0 0 1.5-1.5V7.997z"/>
                                        <use fill="#DEDEDE" xlink:href="#a"/>
                                        <path stroke="#DEDEDE"
                                              d="M19.845 5.56a.202.202 0 0 0-.345.142V8A1.5 1.5 0 0 0 21 9.5h.634a.656.656 0 0 0 .546-1.02L21.09 6.845a1.5 1.5 0 0 0-.187-.228l-1.059-1.059z"/>
                                        <use fill="#D8D8D8" xlink:href="#b"/>
                                        <path stroke="#DEDEDE" d="M11.5 13.5h7v1h-7z"/>
                                        <use fill="#D8D8D8" xlink:href="#c"/>
                                        <path stroke="#DEDEDE" d="M11.5 9.5h4v1h-4z"/>
                                        <g>
                                            <use fill="#D8D8D8" xlink:href="#d"/>
                                            <path stroke="#DEDEDE" d="M11.5 16.5h7v1h-7z"/>
                                        </g>
                                        <g>
                                            <use fill="#D8D8D8" xlink:href="#e"/>
                                            <path stroke="#DEDEDE" d="M11.5 19.5h7v1h-7z"/>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                                    <span class="main-navigation__title">О проекте</span>
                                </a>
                            </li>
                            <li class="main-navigation__item">
                                <a href="{{ path('rules') }}" class="main-navigation__link">
                            <span class="main-navigation__icon main-navigation__icon--users">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     width="30" height="30" viewBox="0 0 30 30">
                                    <defs>
                                        <path id="a"
                                              d="M20.199 5.206l1.058 1.058a2 2 0 0 1 .25.305l1.089 1.633A1.156 1.156 0 0 1 21.634 10H21a2 2 0 0 1-2-2V5.702a.702.702 0 0 1 1.199-.496z"/>
                                        <path id="b" d="M11 13h8v1h-8z"/>
                                        <path id="c" d="M11 9h5v1h-5z"/>
                                        <path id="d" d="M11 16h8v1h-8z"/>
                                        <path id="e" d="M11 19h8v1h-8z"/>
                                    </defs>
                                    <g fill="none" fill-rule="evenodd">
                                        <path stroke="#DEDEDE"
                                              d="M22.5 7.997L20.235 5.9a1.5 1.5 0 0 0-1.019-.4H9A1.5 1.5 0 0 0 7.5 7v16A1.5 1.5 0 0 0 9 24.5h12a1.5 1.5 0 0 0 1.5-1.5V7.997z"/>
                                        <use fill="#DEDEDE" xlink:href="#a"/>
                                        <path stroke="#DEDEDE"
                                              d="M19.845 5.56a.202.202 0 0 0-.345.142V8A1.5 1.5 0 0 0 21 9.5h.634a.656.656 0 0 0 .546-1.02L21.09 6.845a1.5 1.5 0 0 0-.187-.228l-1.059-1.059z"/>
                                        <use fill="#D8D8D8" xlink:href="#b"/>
                                        <path stroke="#DEDEDE" d="M11.5 13.5h7v1h-7z"/>
                                        <use fill="#D8D8D8" xlink:href="#c"/>
                                        <path stroke="#DEDEDE" d="M11.5 9.5h4v1h-4z"/>
                                        <g>
                                            <use fill="#D8D8D8" xlink:href="#d"/>
                                            <path stroke="#DEDEDE" d="M11.5 16.5h7v1h-7z"/>
                                        </g>
                                        <g>
                                            <use fill="#D8D8D8" xlink:href="#e"/>
                                            <path stroke="#DEDEDE" d="M11.5 19.5h7v1h-7z"/>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                                    <span class="main-navigation__title">Правила</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-login">
                        <a href="{{ path('registration') }}" class="button button--action">Зарегистрироваться</a>
                        <a href="{{ path('login') }}" class="button button--main">Войти</a>
                    </div>
                    <a href="#" class="sidebar-mobile__close js-close-sidebar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                            <path fill="none" fill-rule="evenodd" stroke="#FFF"
                                  d="M15.067 14.767L9.366 8.66l-.732.682 5.749 6.159-5.749 6.159.732.682 5.7-6.108 5.702 6.108.73-.682-5.747-6.159 5.748-6.159-.731-.682-5.701 6.108z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>