{% extends '@Control/layout.html.twig' %}

{% block content %}
    <div class="admins-header">
        <h1 class="admins-header__title">Users</h1>
        <a href="{{ path('control.users.registration') }}" class="admins-header__button button button--action">Create new user</a>
    </div>

    <div class="table table--user-info">
        <div class="row row--heading row--user-info">
            <div class="cell cell--user-info cell--id">ID</div>
            <div class="cell cell--user-info cell--username">Username</div>
            <div class="cell cell--user-info cell--user-btc-balance">Total BTC balance</div>
            <div class="cell cell--user-info cell--exchange-balance">Exchange BTC balance</div>
        </div>
        {% for user in users %}
            <div class="row row--user-info">
                <div class="cell cell--user-info cell--id">
                    {{ user.domainUserId }}
                </div>
                <div class="cell cell--user-info cell--username">
                    <a href="{{
                    path(
                        'control.users.profile',
                        {
                            userId: user.domainUserId
                        }
                    ) }}" class="username-link">{{ user.username }}</a>
                </div>
                <div class="cell cell--user-info cell--user-btc-balance">
                    {{ user.domainUserId|userBalance('BTC')|moneyFormat }}
                </div>
                <div class="cell cell--user-info cell--exchange-balance">
                    {% for exchange in exchanges %}
                        {% if user.domainUserId is empty %}
                        {% else %}
                            <a class="user-deposit__link"
                               href="{{ path('control.users.exchangeDeposit', {userId: user.domainUserId, exchangeId: exchange.id}) }}">
                                Add deposit ({{ exchange.getId() }})
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}