{% extends '@Control/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th rowspan="2">ID</th>
                        <th rowspan="2">Username</th>
                        <th rowspan="2">Total BTC balance</th>
                        <th colspan="{{ exchanges|length }}">Exchanges BTC balance</th>
                    </tr>
                    <tr>
                        {% for exchange in exchanges %}
                            <th>{{ exchange.id }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                {{ user.domainUserId }}
                            </td>
                            <td>
                                <a href="{{ path('control.users.profile', {userId: user.domainUserId}) }}">{{ user.username }}</a>
                            </td>
                            <td>
                                {{ user.domainUserId|userBalance('BTC')|moneyFormat }}
                            </td>
                            {% for exchange in exchanges %}
                                {% if user.domainUserId is empty %}
                                    <td></td>
                                {% else %}
                                    <td>
                                        <a class="btn btn-info btn-xs" href="{{ path('control.users.exchangeDeposit', {userId: user.domainUserId, exchangeId: exchange.id}) }}"><i class="fa fa-plus"></i> Deposit</a>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}