{% extends '@Fintobit/layout-auth-desktop.html.twig' %}

{% block content %}
    <div class="desktop-wrapper">
        <a class="logo" href="{{ path('fintobit.auth.login') }}">
            <div class="main_logo"></div>
        </a>
        <div class="tab-content js-tab-content tab-content--active" id="authorization">
            <form action="{{ path("fos_user_security_check") }}" class="auth-form-content" method="post">
                <div class="form-content">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    {% endif %}

                    <label class="field-block">
                        <span class="field-block__title">Email</span>
                        <input type="text"
                               class="field-block__field"
                               placeholder="workmail@gmail.com"
                               name="username"
                               value="{{ last_username }}"
                        >
                    </label>
                    <label class="field-block field-block--desktop">
                    <span class="field-block__title field-block__title--password">Password
                        <a class="recover__link" href="{{ path('fintobit.auth.restore') }}">Forgot your password?</a>
                    </span>
                        <div class="field-block__password-container js-password-container">
                            <input id="pass-1" type="password" class="field-block__field" placeholder="Enter your password" name="_password" required="required">
                            <a href="javascript: void(0);" class="field-block__password-visible js-change-password-visibility">

                            </a>
                        </div>
                    </label>

                    <label class="form-checkbox form-checkbox--desktop">
                        <input type="checkbox" class="form-checkbox__field">
                        <span class="form-checkbox__text">
                        <span class="form-checkbox__descr">Keep me logged in</span>
                    </span>
                    </label>
                    <button type="submit" class="button button--action form-content__button form-content__button--desktop">Login</button>
                </div>
            </form>
            <div class="invite">
                <a href="{{ path('fintobit.invite.index') }}" class="invite__link">Don't have an account?</a>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            initComponents();
        });
        function initComponents() {
            initPasswordTypeSwitcher();
        }
        function initPasswordTypeSwitcher() {
            if (window.PasswordTypeSwitcher) {

                var params = {
                    container : $('.js-password-container')
                };

                new PasswordTypeSwitcher(params);
            }
        }
    </script>
{% endblock %}