{% extends '@App/Investor/layout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            {{ form_start(form) }}

            {{ form_widget(form._token) }}
            {{ form_errors(form._token) }}

            <div class="form-group">
                <label>
                    <span class="">Электронная почта</span>
                </label>
                {{ form_widget(form.email, {attr: {name: 'email', type: 'text'}}) }}
                {{ form_errors(form.email) }}
            </div>

            <div class="form-group">
                <label>
                    <span>Придумайте пароль</span>
                </label>
                {{ form_widget(form.plainPassword.first, {attr: {name: 'password'}}) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>

            <div class="form-group">
                <label>
                    <span>Повторите пароль</span>
                </label>
                {{ form_widget(form.plainPassword.second, {attr: {name: 'password'}}) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                <a href="{{ path('fintobit.auth.login') }}" class="btn btn-primary">Уже есть аккаунт?</a>
            </div>

            {{ form_end(form) }}
        </div>
        <div class="row">
            {% include '@App/Investor/autoreg.html.twig' %}
        </div>
    </div>
{% endblock %}
