{% extends '@Control/layout.html.twig' %}

{% block content %}

    <div class="admins-header">
        <h1 class="admins-header__title">
            <a href="{{ path('control.bots.list') }}" class="back-arrow">
                <div class="back-img"></div>
            </a>
            Bots</h1>
    </div>

    <h2 class="bot-edit__subtitle">Editing bot — id: {{ bot.id }}</h2>

    <div class="bot-edit__wrapper">
        {{ form_start(form) }}

        <div class="bot-edit__select-title">Status</div>
        {{ form_widget(form.status) }}

        <div class="bot-edit__select-title">Exchange</div>
        {{ form_widget(form.exchangeId) }}

        <div class="bot-edit__select-title">Strategy</div>
        {{ form_widget(form.tradingStrategyId) }}

        <div class="bot-edit__select-title">Strategy settings</div>
        {{ form_widget(form.tradingStrategySettings) }}
        <div class="bot-edit__select-title"></div>
        {#todo: user another method to margin button#}
        {{ form_widget(form.Save) }}
        {{ form_end(form) }}

    </div>

{% endblock %}