{% extends '@Control/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mb-10">
            <div class="col-md-12">
                <a href="{{ path('control.bots.create') }}" class="btn btn-primary">Create</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Status</th>
                        <th>BTC balance</th>
                        <th>Session Balance</th>
                        <th>In Orders Balance</th>
                        <th>Available Balance</th>
                        <th>Exchange</th>
                        <th>Strategy</th>
                        <th>Strategy settings</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bot in bots %}
                        {% set sessionBalances = bot|botSessionBalances('BTC') %}
                    <tr>
                        <td>
                            {{ bot.id }}
                        </td>
                        <td>
                            {{ bot.status }}
                        </td>
                        <td>
                            {{ bot|botBalance('BTC')|moneyFormat }}
                        </td>
                        <td>
                            {{ sessionBalances.accountBalance|moneyFormat }}
                        </td>
                        <td>
                            {{ sessionBalances.inOrdersBalance|moneyFormat }}
                        </td>
                        <td>
                            {{ sessionBalances.availableBalance|moneyFormat }}
                        </td>
                        <td>
                            {{ bot.exchangeId }}
                        </td>
                        <td>
                            {{ bot.tradingStrategyId }}
                        </td>
                        <td>
                            {{ bot.tradingStrategySettings }}
                        </td>
                        <td>
                            <a class="btn btn-info" href="{{ path('control.bots.edit', {id: bot.id}) }}">Change</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}